.AlternativeIndex
  display: flex
  flex-direction: column
  font-size: 1.2rem

.AlternativeIndex_new
  margin-top: 0.5rem

.AlternativeIndex_items
  display: flex
  flex-direction: column

.AlternativeIndex_link
  margin:
    top: 1.2rem
    right: auto
  border:
    width: 1px
    color: $Theme_primary
    style: solid
    radius: 1.2rem
  padding: 0.5rem 1.0rem
  font-weight: $Font_boldWeight

.AlternativeIndex_link__isNewlyCreated
  order: -1
  animation:
    name: AlternativeIndex_growLink, AlternativeIndex_highlightLink
    duration: $Timing_alternativeIndexGrowLink, $Timing_alternativeIndexHighlightLink
    timing-function: ease-out, ease

  &::after
    position: absolute
    margin-left: 1.4em
    font-weight: $Font_lightWeight
    font-style: italic
    content: "New alternative"


@keyframes AlternativeIndex_growLink
  0%
    margin-top: 0
    border-color: transparent
    padding:
      top: 0
      bottom: 0
    line-height: 0
    color: transparent

  50%
    color: transparent

@keyframes AlternativeIndex_highlightLink
  40%
    box-shadow: 0 0 12px $Theme_primary
