.App
  display: flex
  flex-direction: column
  background: $Theme_secondaryBackground
  min-height: 100vh

.App_main__isUserSigningOut
  animation: App_userSigningOut $Timing_appUserSigningOut ease-out forwards

@keyframes App_userSigningOut
  100%
    opacity: 0

