.Comparison
  display: flex
  flex-direction: row
  flex-grow: 1
  align-items: stretch

.Comparison_main
  display: flex
  flex-direction: column
  flex-grow: 1
  padding: 2.2rem 2.6rem

.Comparison_section
  animation:
    name: Comparison_fadeIn
    duration: $Timing_comparisonSectionFadeIn
    timing-function: ease-out
  border: 2px solid $Theme_primary
  background: $Theme_primaryBackground
  padding: 3.0rem 4.0rem

  &:not(:first-child)
    margin-top: 2rem

.Comparison_navigate-enter
  &:not(:only-child)
    display: none

  &:only-child
    animation:
      name: Comparison_fadeIn
      duration: $Timing_comparisonRouteChange
      timing-function: ease-in
      fill-mode: forwards

.Comparison_navigate-exit
  animation:
    name: Comparison_fadeIn
    duration: $Timing_comparisonRouteChange
    timing-function: ease-in
    direction: reverse
    fill-mode: forwards

.Comparison_infoEditSection
  @extend .Comparison_section
  overflow: hidden

.Comparison_infoEditContent
  transition:
    property: transform, opacity
    duration: $Timing_comparisonEditStateChange
    timing-function: ease

.Comparison_infoEditContent__isChangingState
  transform: translateY(calc(-100% - 6.0rem))
  opacity: 0.5

.Comparison_infoEditButton
  padding: 0.4rem 1.0em
  font-size: 1.2rem

@keyframes Comparison_fadeIn
  0%
    opacity: 0
