.Comparison
  display: flex
  flex-direction: row
  flex-grow: 1
  align-items: stretch

.Comparison_main
  display: flex
  flex-direction: column
  flex-grow: 1
  padding: 2.2rem 2.6rem

.Comparison_section
  animation:
    name: Comparison_fadeIn
    duration: $Timing_comparisonSectionFadeIn
    timing-function: ease-out
  border: 2px solid $Theme_primary
  background: $Theme_primaryBackground
  padding: 3.0rem 4.0rem

  &:not(:first-child)
    margin-top: 2rem

.Comparison_navigate-enter
  &:not(:only-child)
    display: none

  &:only-child
    animation:
      name: Comparison_fadeIn
      duration: $Timing_comparisonRouteChange
      timing-function: ease-in
      fill-mode: forwards

.Comparison_navigate-exit
  animation:
    name: Comparison_fadeIn
    duration: $Timing_comparisonRouteChange
    timing-function: ease-in
    direction: reverse
    fill-mode: forwards

@keyframes Comparison_fadeIn
  0%
    opacity: 0
