.Dashboard
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  justify-content: center
  padding: 3.0rem 4.0rem

.Dashboard_item
  display: flex
  flex-basis: 19rem
  flex-direction: column
  justify-content: center
  animation: Dashboard_itemPopIn $Timing_dashboardItemPopIn ease-out
  margin: 1.0rem 1.5rem
  border: 2px solid $Theme_primary
  background: $Theme_primaryBackground
  padding: 2rem
  min-height: 11rem
  text-align: center

.Dashboard_itemHeader
  margin-bottom: 0.5rem
  font-size: 1.8rem
  font-weight: $Font_boldWeight

.Dashboard_itemSubHeader
  font-size: 1.8rem
  font-weight: $Font_lightWeight

@keyframes Dashboard_itemPopIn
  0%
    transform: scale(0)
