.Estimate
  @extend .card
  max-width: 15rem

.Estimate__isEditing
  max-width: 20rem

.Estimate_body
  @extend .card-body

.Estimate_name
  @extend .card-title
  font:
    size: 1.2rem
    weight: $Font_boldWeight

.Estimate_estimate
  @extend .card-text
  margin-bottom: 0.6rem

.Estimate_editButton
  margin-top: 0.4rem
  font-size: 0.9rem
