.Header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  border-bottom: 2px solid $Theme_primary
  background-color: $Theme_primaryBackground

  &.Header__dashboardMode
    padding: 3.0rem 6.0rem

  &.Header__comparisonMode
    padding:
      top: 0.4rem
      right: 1.2rem
      bottom: 0.4rem
      left: 0.4rem

.Header_logo
  border: 2px solid $Theme_primary
  border-radius: 1.5ch

  .Header__dashboardMode &
    font-size: 1.6rem

  .Header__comparisonMode &
    border-width: 0
    font-size: 1.0rem

.Header_title
  display: flex
  flex-direction: row
  font-weight: $Font_boldWeight

  .Header__dashboardMode &
    margin-left: 4rem
    font-size: 2.6rem

  .Header__comparisonMode &
    margin-left: 9rem
    font-size: 1.8rem

.Header_titleContent
  font:
    weight: inherit
    size: inherit

.Header_user
  .Header__dashboardMode &
    font-size: 1.6rem

  .Header__comparisonMode &
    font-size: 1.2rem

.Header__isAuthorizing
  .Header_user
    display: none

.Header,
.Header_logo,
.Header_title
  transition:
    property: margin, border-width, padding
    duration: $Timing_headerTransition
    timing-function: linear
