.NewComparison
  @extend .form-group

.NewComparison_input
  @extend .form-control
  margin-bottom: 1rem
  font-size: 1.4rem
  border-radius: 1.0em
  text-align: center

.NewComparison_button
  margin: 0 auto
  font-size: 1.2rem
  padding: 0.3em 0.8em
