$Timing_alternativeEditStateChange: 200ms
$Timing_comparisonAlternativesGrowLink: 200ms
$Timing_comparisonAlternativesHighlightLink: 2000ms
$Timing_comparisonCriteriaPopIn: 800ms
$Timing_comparisonEditStateChange: 200ms
$Timing_comparisonRouteChange: 100ms
$Timing_comparisonSectionFadeIn: 400ms
$Timing_criterionEditStateChange: 150ms
$Timing_dashboardItemPopIn: 600ms
$Timing_estimateEditStateChange: 100ms
$Timing_headerTransition: 200ms
$Timing_loadingCycle: 1500ms
$Timing_loadingFadeIn: 1000ms
$Timing_sidebarChangeActiveOff: 600ms
$Timing_sidebarChangeActiveOn: 400ms
$Timing_sidebarSlideIn: 400ms
$Timing_signInProgressCycle: 2000ms
