.User
  display: flex
  flex-direction: row
  align-items: baseline

.User_name
  color: $Theme_primary
  margin-right: 1ch
  font-size: 1.6rem

.User_signOut
  @extend .btn
  @extend .btn-primary
  font-size: 1.3rem
  border-radius: 0.8em
  padding: 0.2em 0.6em
