.User
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: baseline
  flex-basis: 12em

.User_name
  margin-right: 1ch
  color: $Theme_primary
  font-weight: $Font_lightWeight

.User_button
  padding: 0.2em 1.0em
  font-size: 80%
