.User
  display: flex
  flex-direction: row
  align-items: baseline

.User_name
  margin-right: 1ch
  color: $Theme_primary
  font-weight: $Font_lightWeight

.User_signOut
  padding: 0.2em 1.0em
  font-size: 80%
